@if (Context.User.Identity.IsAuthenticated)
{
    //SU NOMBRE Y CERRAR SESSION
    <a asp-controller="Validacion" asp-action="CerrarSesion"
       class="nav-link">Cerrar sesión</a>
    @*<img src="~/images/user.png" style="width:40px; height: 40px"*@
         @*class="img-thumbnail" />*@
    <span style="color:white">@User.Identity.Name</span>
}
else
{
    //LINK DE LOGIN
    <a asp-controller="Validacion" asp-action="Login"
       class="nav-link">Log In</a>
}


    <environment include="Development">


        <link href="~/css/ContentCatalogo.css" rel="stylesheet" />
        <link href="~/css/bootstrap.css" rel="stylesheet" />



        <div align="left">
            <partial name="_PartialMenuUsuarios" />
        </div>


    </environment>


@RenderBody()

<environment include="Development">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</environment>